- content_for(:title) { @product_category.name }

.product-overview= render partial: 'spina/pos/products/product', collection: @products

-#.product-pagination= link_to_next_page @products, '', data: {remote: true}