.product
  = link_to [:pos, product_bundle] do
    .product-image
      = image_tag image_variant(product_bundle.product_images.first, resize: '100x150')
    .product-name
      = product_bundle.name

    .product-price= number_to_currency(product_bundle.price)