- content_for(:title) { @product_bundle.name }

.product-show
  .product-image
    = image_tag image_variant(@product_bundle.product_images.first, resize: '500x500')

  .product-description
    = @product_bundle.name

    .product-purchase
      = link_to 'In winkelmand', add_product_bundle_pos_orders_path(product_bundle_id: @product_bundle.id), class: 'button button-block', data: {remote: true, method: :post}

