.product
  = link_to product do
    .product-image
      = image_tag image_variant(product.product_images.first, resize: '200x300')
    .product-name
      = product.name

    .product-price= number_to_currency(product.price)