.product
  = link_to product do
    .product-image
      - image = product.product_images.first || product.children.joins(:product_images).first&.product_images&.first || product.root.product_images.first
      = image_tag image_variant(image, resize: '200x300')
    .product-name
      = product.name

    .product-price= number_to_currency(product.price)